# CMake folders
CMakeFiles
# CMake files
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# folder
docs/html
docs/latex
lib/
bin/
obj/
logs/
.vscode/
.clangd/
.cache/
__pycache__/
external/include/axolote
external/lib/axolote

# files
compile_commands.json
auto_gen_*.json
*.baked
