# CMake folders
CMakeFiles
# CMake files
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# folder
docs/html
docs/latex
lib/
bin/
obj/
logs/
build/
.vscode/
.clangd/
.cache/
__pycache__/
axolote-engine/
external/include/axolote
external/include/KHR
external/lib/axolote

# files
auto_gen_*.json
*.baked
compile_commands.json
